doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content)
        meta(name='author', content)

        title Contact

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page content
            section.py-5

                .container.px-5

                    // Contact form
                    .bg-light.rounded-4.py-5.px-4.px-md-5
                        .text-center.mb-5
                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.mb-3
                                i.bi.bi-envelope
                            h1.fw-bolder Get in touch
                            p.lead.fw-normal.text-muted.mb-0 Feel free to contact me
                            p.fw-bolder 32183087@dankook.ac.kr
                        
        // Footer
        include includes/footer.pug

        include includes/scripts.pug
