doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Personal - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            .container.px-5.my-5
                .text-center.mb-5
                    h1.display-5.fw-bolder.mb-0
                        span.text-gradient.d-inline Activities
                .row.gx-5.justify-content-center

                    .col-lg-11.col-xl-9.col-xxl-8

                        // Education Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-primary.fw-bolder.mb-0 Education

                            // Education Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2018 - ing
                                                .small.fw-bolder Dankook University
                                                .small.text-muted Gyeonggi-Do, South Korea
                                                .small.text-muted Mobile System Engineering
                                        .col-lg-8
                                            div 단국대학교 모바일시스템공학과에서 학사과정 이수중

                        // Experience Section
                        section
                            h2.text-secondary.fw-bolder.mb-4 Experience
                            // Experience Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2022.08 - 2023.02
                                                .mb-2
                                                    .small.fw-bolder UMC
                                                .fst-italic
                                                    .small.text-muted 단국대 Node.js 서버팀
                                                    .small.text-muted 팀장
                                        .col-lg-8
                                            div Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.
                            // Education Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2022.01 - 2022.07
                                                .mb-2
                                                    .small.fw-bolder 'EPITECH' 교환학생
                                                .fst-italic
                                                    .small.text-muted Paris, France
                                        .col-lg-8
                                            div Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.

                            // Education Card 3
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2021.09 - 2021.12
                                                .mb-2
                                                    .small.fw-bolder 드림에이스 인턴
                                                .fst-italic
                                                    .small.text-muted AI부서
                                                    .small.text-muted ICT 학점연계 인턴십
                                        .col-lg-8
                                            div Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.
                            // Education Card 4
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2019.09 - 2020.06
                                                .mb-2
                                                    .small.fw-bolder Dankook University GTN
                                                .fst-italic
                                                    .small.text-muted 단국대학교 국제학생회
                                        .col-lg-8
                                            div Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.
                           
                            // Education Card 5
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2018.08 - 2018.12
                                                .mb-2
                                                    .small.fw-bolder 대한민국교육봉사단 씨드스쿨
                                                .fst-italic
                                                    .small.text-muted 중등 교육봉사
                                                    .small.text-muted 멘토
                                        .col-lg-8
                                            div Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.
                            
                             
                            
                            


                            // Certification Section
                        section
                            h2.text-secondary.fw-bolder.mb-4 Certification
                            
                            // Certification Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                //.text-secondary.fw-bolder.mb-2 2018 - ing
                                                .mb-2
                                                    .small.fw-bolder OPic
                                                    .small.text-muted IH
                                                .fst-italic
                                                    .small.text-muted 2023/03/18

                                                    
                                        .col-lg-8
                                            div Opic(English) IH(INTERMEDIATE HIGH) 취득
                            
                            // Certification Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                //.text-secondary.fw-bolder.mb-2 2018 - ing
                                                .mb-2
                                                    .small.fw-bolder SQLD
                                                .fst-italic
                                                    .small.text-muted 2022/12/02

                                                    
                                        .col-lg-8
                                            div 한국데이터산업진흥원(Kdata)의 국가공인 SQL 개발자 자격 취득

                    
                        // Divider
                        .pb-5

                        // Skills Section
                        section
                            // Skillset Card
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    // skills list
                                    .mb-5
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-tools
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Skills
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Spring
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Node.js
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 React
                                        
                                    // Languages list
                                    .mb-0
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-code-slash
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Languages
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 C/C++
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 JavaScript
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Python

        // Footer
        include includes/footer.pug

        include includes/scripts.pug